<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings >
		<add name="connString1" connectionString="Data Source=MYHP\SQLEXPRESS;Initial Catalog=ProjectConfigDB;Persist Security Info=True;User ID=sa;Password=sa"/>
		<!--加密后的连接字符串-->
		<add name="connString" connectionString="rs9Rmt2ZMLJ27QSRhliOS+b6/H6Y0WbP8g3uxCgDkEACCjDnaYuPcsy7ZdXYK1O0cpU/e8/mq8T6qi8L0uyrB60ZYpDZL7KbTToe1d567GjC6t1zUjl5S439KZoEqmmyg9wPbTLsdDtROGKF8Jh6DA=="/> 
	</connectionStrings>
</configuration>